# A dónde tengo que conectarme

# KERNEL MEMORY
IP_KERNEL_MEMORY=127.0.0.1
PUERTO_KERNEL_MEMORY=8002


# KERNEL SCHEDULER
IP_KERNEL_SCHEDULER=127.0.0.1
PUERTO_KERNEL_SCHEDULER=8001
PUERTO_KERNEL_SCHEDULER_DISPATCH=8001
PUERTO_KERNEL_SCHEDULER_INTERRUPT=8002

# Datos funcionamiento
TIEMPO_INSTRUCCION=250
TAM_MAX_SEGMENTO=128
LOG_LEVEL=INFO
