# A dónde tengo que conectarme

# KERNEL MEMORY
IP_KERNEL_MEMORY=127.0.0.1
PUERTO_KERNEL_MEMORY=8005


# KERNEL SCHEDULER
IP_KERNEL_SCHEDULER=127.0.0.1
PUERTO_KERNEL_SCHEDULER_DISPATCH=8001
PUERTO_KERNEL_SCHEDULER_INTERRUPT=8002


# MEMORY STICK
IP_MEMORY_STICK=127.0.0.1
PUERTO_MEMORY_STICK=8006


# Datos funcionamiento

TIEMPO_INSTRUCCION=500
TAM_MAX_SEGMENTO=128
LOG_LEVEL=INFO