# Configuración general del KM
LOG_LEVEL=DEBUG
SEGMENT_MAX_SIZE=256
ALLOCATION_STRATEGY=BEST
INSTRUCTION_DELAY=500
COMPACTION_DELAY=30000
SCRIPTS_BASEPATH=/home/utnso/plug-n-pray-pruebas

# RED / SOCKETS
# Datos para que el KM escuche a sus clientes (CPU/Kernel)
IP_KERNEL_MEMORY=127.0.0.1
PUERTO_ESCUCHA=8002

# NUEVO: Datos para que el KM sepa dónde conectarse al SWAP
IP_SWAP=127.0.0.1
PUERTO_SWAP=4444