# Configuración propia de servidor.
PUERTO_MEMORY_STICK=8100
SERVER_LOG_NAME=server_memory_stick.log
PROCCES_NAME=server_memory_stick

# Configuración propia de cliente.
CLIENT_LOG_NAME=client_memory_stick.log


# Configuración de otros servers.(Estoy por ahi es redundante lo saco de otras configs)
IP_KERNEL_MEMORY=127.0.0.1
PUERTO_KERNEL_MEMORY=8101

# Configuración del módulo
LOG_LEVEL=TRACE
MEMORY_DELAY=1000
FILE_NAME=memory_stick.log

CLAVE=123
VALOR=valorcito